In [6]:
import numpy as np; 
import pandas as pd; 
import matplotlib.pyplot as plt; 
import seaborn as sns; 
from dateutil import parser;

In [8]:
#importing data
fineTech_appData = pd.read_csv("FineTech_appData.csv");
print(fineTech_appData);

         user               first_open  dayofweek       hour  age  \
0      235136  2012-12-27 02:14:51.273          3   02:00:00   23
1      333588  2012-12-02 01:16:00.905          6   01:00:00   24
2      254414  2013-03-19 19:19:09.157          1   19:00:00   23
3      234192  2013-07-05 16:08:46.354          4   16:00:00   28
4       51549  2013-02-26 18:50:48.661          1   18:00:00   31
...       ...                      ...        ...        ...  ...
49995  222774  2013-05-09 13:46:17.871          3   13:00:00   32
49996  169179  2013-04-09 00:05:17.823          1   00:00:00   35
49997  302367  2013-02-20 22:41:51.165          2   22:00:00   39
49998  324905  2013-04-28 12:33:04.288          6   12:00:00   27
49999   27047  2012-12-14 01:22:44.638          4   01:00:00   25

                                             screen_list  numscreens  \
0      idscreen,joinscreen,Cycle,product_review,ScanP...          15
1      joinscreen,product_review,product_review2,Scan...          13
2                                      Splash,Cycle,Loan           3
3      product_review,Home,product_review,Loan3,Finan...          40
4      idscreen,joinscreen,Cycle,Credit3Container,Sca...          32
...                                                  ...         ...
49995  Splash,Home,ScanPreview,VerifyPhone,VerifySSN,...          13
49996                 Cycle,Splash,Home,RewardsContainer           4
49997  joinscreen,product_review,product_review2,Scan...          25
49998  Cycle,Home,product_review,product_review,produ...          26
49999  product_review,ScanPreview,VerifyDateOfBirth,V...          26

       minigame  used_premium_feature  enrolled            enrolled_date  \
0             0                     0         0                      NaN
1             0                     0         0                      NaN
2             0                     1         0                      NaN
3             0                     0         1  2013-07-05 16:11:49.513
4             0                     0         1  2013-02-26 18:56:37.841
...         ...                   ...       ...                      ...
49995         0                     0         1  2013-05-09 13:47:52.875
49996         0                     1         0                      NaN
49997         0                     0         0                      NaN
49998         0                     0         1  2013-04-28 12:35:38.709
49999         0                     0         0                      NaN

       liked
0          0
1          0
2          1
3          0
4          1
...      ...
49995      0
49996      0
49997      0
49998      0
49999      1

[50000 rows x 12 columns]

In [9]:
shape_result=fineTech_appData.shape;
print("no of row:",shape_result[0]);
print("no of column:",shape_result[1]);

no of row: 50000
no of column: 12

In [16]:
#print top 5 row
fineTech_appData.head(5);

In [17]:
#print bottom 5 row
fineTech_appData.tail(5);

In [19]:
#checking null datavalue in dataframe
print(fineTech_appData.isnull().sum());

user                        0
first_open                  0
dayofweek                   0
hour                        0
age                         0
screen_list                 0
numscreens                  0
minigame                    0
used_premium_feature        0
enrolled                    0
enrolled_date           18926
liked                       0
dtype: int64

In [20]:
#brief information about dataset
fineTech_appData.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user                  50000 non-null  int64
 1   first_open            50000 non-null  object
 2   dayofweek             50000 non-null  int64
 3   hour                  50000 non-null  object
 4   age                   50000 non-null  int64
 5   screen_list           50000 non-null  object
 6   numscreens            50000 non-null  int64
 7   minigame              50000 non-null  int64
 8   used_premium_feature  50000 non-null  int64
 9   enrolled              50000 non-null  int64
 10  enrolled_date         31074 non-null  object
 11  liked                 50000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 4.6+ MB

In [21]:
#provide the distribution of numerical variables 
fineTech_appData.describe();